@model Truescriber.BLL.Clients.SpeechToTextModels.SpeechToTextViewModel;
@{
    ViewData["Title"] = "StartProcessing";
}

<h2 align="center">Text</h2>
<br/>
<div align="left">
    <a asp-action="TaskList" class="btn btn-default btn">
        Back
        <i class="glyphicon glyphicon-chevron-left"></i>
    </a>
</div>
<br/>
<div>
    <p>@Model.Text</p>
    <br/>
    <div>
        <table>
            <tr>
                <td>Word</td>
                <td>StartTime</td>
                <td>EndTime</td>
            </tr>
            @foreach (var item in Model.WordInfo)
            {
                <tr>
                    <td>@item.Word</td>
                    <td>@item.StartTime</td>
                    <td>@item.EndTime</td>
                </tr>
            }
        </table>
    </div>
</div>
